.header {
    margin: 0 auto;
    display: flex;
    background-color: #bee1e6;
    padding: 10px;
    
}



.link {
    margin: auto;
    font-weight: bold;
    color: #000814;
    text-decoration: none;
    padding: 5px;
}

.link:hover {
    color: #014f86;
}